@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face{
        font-family:BebasNeue;
        src: url(fonts/BebasNeue.otf);
      }
      .bebas{
        font-family:BebasNeue;
      }

      @font-face{
        font-family:"Candara";
        src: url(fonts/CandaraFont.ttf);
      }
      .candara{
        font-family:"Candara";
      }
      
      .fondoinicio{
          background: #EB9B14;
      }
      .titulo{
       color: #EB9B14;
      }
      .fondo{
        background: #ffeac7;
      }

      /*esto me lo has permitido tu*/
      .height72{
        height: 48rem;
      }
      .height20{
        height: 20rem;
      }
      .height40{
        height: 40%;
      }
      .height80{
        height: 80%;
      }
      .height60{
        height: 60%;
      }
      .height100{
        height: 100%;
      }
      .height-auto{
        height: auto;
      }

}